<%= render_breadcrumbs %>
<%- model_class = Issue -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:assignee_name) %></th>
      <th><%= model_class.human_attribute_name(:issue_url) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:milestone_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th colspan="2"><%=t '.actions', :default => t("helpers.actions") %></th>
      <th>Testers</th>
      <th>Comments</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.id, milestone_issue_path(@milestone, issue) %></td>
        <td><%= issue.assignee_name %></td>
        <td><%= issue.issue_url %></td>
        <td><%= issue.name %></td>
        <td><%= issue.description %></td>
        <td><%= issue.milestone_id %></td>
        <td><%=l issue.created_at %></td>
        <td>  
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      milestone_issue_path(@milestone, issue),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        <td>
          <%= link_to 'Add testers',
                      milestone_issue_add_testers_path(@milestone, issue), :class => 'btn btn-default btn-xs' %>

        </td>
        <td><%= issue.testers.map(&:email).join("\n") %></td>
        <td>
          <%= link_to 'Comments', milestone_issue_comments_path(@milestone, issue) %>
        </td>
        <td>state</td>
      </tr>
    <% end %>
  </tbody>
</table>
