<%- model_class = Issue -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:assignee_name) %>:</strong></dt>
  <dd><%= @issue.assignee_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:issue_url) %>:</strong></dt>
  <dd><%= @issue.issue_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @issue.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @issue.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:milestone_id) %>:</strong></dt>
  <dd><%= @issue.milestone.name %></dd>
  <dt><strong>Testers:</strong></dt>
  <dd><%= @issue.testers.map(&:email).join(", ") %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              milestone_issues_path(@milestone), :class => 'btn btn-default'  %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              milestone_issue_path(@milestone, @issue),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
